<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Configuración de colores -->
		<!-- Comentarios en verde -->
		<add key="cmdSQLComments" value="//|--" />
		<add key="cmdSQLCommentsColor" value="#2ecc71" />

		<!-- Bloque de comentarios en verde -->
		<add key="cmdSQLCommentsBloq" value="/*|*/" />
		<add key="cmdSQLCommentsColor" value="#2ecc71" />

		<!-- Cadena de caracteres en rojo -->
		<add key="cmdSQLString" value="'|'" />
		<add key="cmdSQLStringColor" value="#e74c3c" />

		<!-- Palabras clave en magenta -->
		<add key="cmdSQLKey1" value="UPDATE|OBJECT_ID|DELIMITER|IN|ROW_COUNT|DATABASE|SQLWARNING|CONCAT" />
		<add key="cmdSQLKey1Color" value="#9b59b6" />

		<!-- Palabras clave que comienzan con <XX> en magenta -->
		<add key="cmdSQLKey2" value="@@" />
		<add key="cmdSQLKey2Color" value="#9b59b6" />

		<!-- Palabras clave en silver-->
		<add key="cmdSQLKey3" value="IS|NOT|NULL|AND|OR|TRUE|FALSE|BOOLEAN|MESSAGE_TEXT" />
		<add key="cmdSQLKey3Color" value="#bdc3c7" />

		<!-- Palabras clave en azul -->
		<add key="cmdSQLKey4" value="SELECT|FROM|WHERE|INSERT|INTO|VALUES|UPDATE|DELETE|JOIN|INNER|LEFT|RIGHT|ON|AS|CONSTRAINT|PRIMARY|KEY|CLUSTERED|NONCLUSTERED|ASC|DESC|WITH|PAD_INDEX|OFF|ON|GO|STATISTICS_NORECOMPUTE|IGNORE_DUP_KEY|ALLOW_ROW_LOCKS|ALLOW_PAGE_LOCKS|OPTIMIZE_FOR_SEQUENTIAL_KEY|CREATE|TABLE|PROCEDURE|FUNCTION|INDEX|ELSE|IF|END|RETURN|BEGIN|END|DROP|PRINT|USE|SET|NOCOUNT|TRAN|TRANSACTION|RAISERROR|ROLLBACK|COMMIT|START|DECLARE|EXIT|HANDLER|FOR|SQLEXCEPTION|EXISTS|GET|DIAGNOSTICS|CONDITION|DEFAULT|SIGNAL|SQLSTATE|CONTINUE" />
		<add key="cmdSQLKey4Color" value="#3498db" />

		<!-- Palabras claves Tipo de datos -->
		<add key="cmdSQLKey5" value="VARCHAR|INT|FLOAT|CHAR|DATETIME" />
		<add key="cmdSQLKey5Color" value="#3498db" />

		<!-- Numeros en naranja -->
		<add key="cmdSQLNumbers" value="0|1|2|3|4|5|6|7|8|9" />
		<add key="cmdSQLNumbersColor" value="#e67e22" />



	</appSettings>
</configuration>



